* {
    font-family: "Roboto";
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.right {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    width: 400px;
}

.top {
    background-color: darkblue;
    color: white;
}

.middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    background-color: white;
}

form {
    font-size: small;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: white;
}

.form-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.form-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
}

.form-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;   
} 

.bottom {
    background-color: blue;
}